<% content_for :title do %>
    <title>新介昌科技 - 提交成功</title>
<% end %>

<div class="order-new-page">
  <div class="order-page-header" style="margin-bottom: 0">
    <h2 class="hidden-xs">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 谢谢！我们将会尽快联系您！
    </h2>
    <h2 class="visible-xs-block">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 谢谢
    </h2>
    <h2 class="visible-xs-block">
      我们将会尽快联系您
    </h2>
  </div>
</div>
