<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 md-text-right">
        © 2016 - 2017 XinJieChang Technology Inc. All Rights Reserved.
      </div>
      <div class="col-sm-12 col-md-6 md-text-left">
        蜀ICP备17002618号 四川新介昌科技有限公司
      </div>
    </div>
  </div>
</div>
