<div class="header-nav">
  <nav class="nav navbar-default navbar-fixed-top main-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'xinjiechang.com', root_path, { class: "brand-logo hidden-xs" } %>
        <div class="visible-xs-block col-xs-offset-3 col-xs-6 text-center">
          <%= link_to 'xinjiechang.com', root_path, { class: "brand-logo-xs" } %>
        </div>
      </div>

      <!--<div class="collapse navbar-collapse">-->
        <!--<ul class="nav navbar-nav">-->
          <!--<li><a href="tel:18445626725" class="nav-item">(844) 562-6725</a></li>-->
          <!--<li class="dropdown">-->
            <!--<a href="/" class="nav-item" role="button" aria-haspopup="true" aria-expanded="false">Why loanpal?</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/" class="nav-item nav-item-btn">Let's Get Started <i class="fa fa-caret-right"></i></a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </nav>
</div>
