
<nav class="nav navbar-default navbar-fixed-top main-nav" role="navigation" data-spy="affix" data-offset-top="100">
  <div class="container">
    <div class="navbar-header">
      <a class="brand-logo" href="/">xinjiechang.com</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="tel:18445626725" class="nav-item">(844) 562-6725</a></li>
        <li class="dropdown">
          <a href="/" class="nav-item" role="button" aria-haspopup="true" aria-expanded="false">Why loanpal?</a>
        </li>
        <li>
          <a href="/" class="nav-item nav-item-btn">Let's Get Started <i class="fa fa-caret-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="welcome-image">
  <div class="welcome-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="welcome-word">做我喜欢，无畏成败</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="welcome-image"></div>