
<div class="home-page">
  <nav class="nav navbar-default navbar-fixed-top main-nav" role="navigation" data-spy="affix" data-offset-top="100">
    <div class="container">
      <div class="navbar-header">
        <a class="brand-logo" href="/">xinjiechang.com</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="tel:18445626725" class="nav-item">(844) 562-6725</a></li>
          <li class="dropdown">
            <a href="/" class="nav-item" role="button" aria-haspopup="true" aria-expanded="false">Why loanpal?</a>
          </li>
          <li>
            <a href="/" class="nav-item nav-item-btn">Let's Get Started <i class="fa fa-caret-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="welcome-image welcome-image-1">
    <div class="welcome-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="welcome-word">做你喜欢，无畏成败</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="welcome-image welcome-image-2">
    <div class="welcome-features">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="feature-title">我们提供</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 feature-item">
            <h3 class="feature-item-title">解决方案</h3>
            <p>
              根据您企业或组织的实际情况，量身订做适合的互联网信息系统解决方案
            </p>
          </div>
          <div class="col-sm-4 feature-item">
            <h3 class="feature-item-title">产品设计</h3>
            <p>
              基于您的奇思妙想，设计专业的互联网信息系统产品
            </p>
          </div>
          <div class="col-sm-4 feature-item">
            <h3 class="feature-item-title">系统研发</h3>
            <p>
              将您的想法，真正变为可以实际运用在生产中的网站和应用程序
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 feature-btn">
            <a class="btn btn-default btn-lg btn-block feature-btn-order" href="#" role="button">是的，我需要</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-md-offset-2 md-text-right">
          © 2016 - 2017 XinJieChang Technology Inc. All Rights Reserved.
        </div>
        <div class="col-sm-12 col-md-4 md-text-left">
          蜀ICP备17002618号 四川新介昌科技有限公司
        </div>
      </div>
    </div>
  </div>
</div>