// XJC SCSS Mixin Definition

$xjc-logo-black: 'xjc-logo-tech-black.png';
$xjc-logo-white: 'xjc-logo-tech-white.png';

// 垂直方向比例定位
// $percent: 位置比例, 如$percent=50%, 则居中定位
// 配合position使用
@mixin xjc-vertical-align($percent) {
  top: $percent;
  -webkit-transform: translateY(-$percent);
  -moz-transform: translateY(-$percent);
  -ms-transform: translateY(-$percent);
  -o-transform: translateY(-$percent);
  transform: translateY(-$percent);
}

// 设置背景大图
// $img-name: 图片名称, 图片需位于assets/images下
@mixin xjc-set-background-image($img-name) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-image: image-url($img-name);
}
